.header-text {
  height: 20px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Roboto Light", sans-serif;
}

.sign-up-box {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

.name-email-pass-input-box {
  margin-top: 100px;
  text-align: center;
}

.input-fill {
  height: 37px;
  width: 75%;
  margin: 10px 0 0;
  padding: 16px 16px 16px 40px;
  border-radius: 50px;
  border: aqua 2px solid;
}

.password-box {
  display: flex;
  justify-content: space-between;
  box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
}

.name-box {
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign-up-button {
  text-align: center;
  border-radius: 50px;
  height: 60px;
  background-color: #188FFF;
  color: white;
  border: none;
  margin: 30px 0;
  font-size: 22px;
  font-weight: bold;
}


.initial-name, .last-name {
  margin-right: 16px;
  flex-grow: 1;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  padding: 24px 0 0;
  white-space: normal;
}



