.signup-box {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

.header-text {
  text-align: center;
  margin-top: .82353rem;
  font-size: 1.17647rem;
  font-family: Arial, monospace;
}

.name-email-pass-input-box {
  margin-top: 100px;
  text-align: center;
}

.input-fill {
  border-width: 1px 1px 1px 1px;
  height: 37px;
  width: 75%;
  margin: 4px 0;
  padding: 16px 0 4px;
  font-size: 16px
}

.password-box {
  display: flex;
  justify-content: space-between;
  box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
}

.name-box {
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.initial-name {
  margin-right: 16px;
  flex-grow: 1;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  padding: 24px 0 0;
  vertical-align: top;
  white-space: normal;
}

.last-name {
  margin-left: 16px;
  flex-grow: 1;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  padding: 24px 0 0;
  vertical-align: top;
  white-space: normal;
}


