<body [style.height.px]="screenHeight" [style.width.px]="screenWidth">

<div class="signup-box">
  <div class="header-text">
    <Strong>HealthCoin</Strong>
  </div>
  <div class="header-text">Create Your Account!
  </div>

  <div class="name-email-pass-input-box">
    <div class="name-box">
      <div class="initial-name" style="text-align: left">
        <input class="input-fill" type="text" placeholder="Nama Depan" id="first_name" required>
      </div>
    </div>

    <div class="name-box">
      <div class="last-name" style="text-align: right">
        <input class="input-fill" type="text" placeholder="Nama Belakang" id="last_name" required>
      </div>
    </div>

    <div>
      <input class="input-fill" type="text" placeholder="Email" id="email" required>
    </div>

    <div class="password-box">
      <input class="input-fill" type="password" placeholder="Kata Sandi" id="password" required>
    </div>

  </div>

</div>

</body>
