.healthcoin-text {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 3vh;
  margin-top: 40px;
}

.create-text {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 2.8vh;
  font-family: "Roboto Light", sans-serif;
  color: #59b7d3;
  font-weight: bold;
}

.sign-up-box {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

.name-email-pass-input-box {
  margin-top: 15%;
  text-align: center;
}

.input-box {
  width: 75%;
  height: 5vh;
  margin: 0 auto 1vh auto;
  border-radius: 50px;
  border: 1px solid;
  font-size: 2.5vh;
}

.input-icon {
  width: 10%;
  float: left;
  font-size: 3vh;
  color: rgb(79, 208, 221);
  margin-left: 2%;
}

.input-fill {
  width: 80%;
  height: 4vh;
  border: none;
  margin-top: 0.5vh;
  font-size: 3vh;
}

.password-box {
  display: flex;
  justify-content: space-between;
  box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
}

.name-box {
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign-up-button {
  text-align: center;
  border-radius: 50px;
  width: 60%;
  background-color: #00bcd4;
  color: white;
  border: none;
  font-size: 2.75vh;
  margin: 30px;
}

.sign-up-button:disabled {
  opacity: 30%;
}

.initial-name, .last-name {
  margin-right: 16px;
  flex-grow: 1;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  padding: 24px 0 0;
  white-space: normal;
}

::placeholder {
  opacity: 50%;
}

input[type="date"]::-webkit-input-placeholder{
  opacity: 50%;
}
