.healthcoin-text {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 7vw;
}

.create-text {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 6vw;
  font-family: "Roboto Light", sans-serif;
  color: #59b7d3;
  font-weight: bold;
}

.sign-up-box {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

.name-email-pass-input-box {
  position: relative;
  margin-top: 100px;
  text-align: center;
  height:104vw;
}

.input-box {
  width: 75%;
  height: 10vw;
  margin: 0 auto 3vw auto;
  border-radius: 50px;
  border: 1px solid;
}

.input-icon {
  width: 10%;
  float: left;
  font-size: 6.5vw;
  color: rgb(79, 208, 221);
  margin-left: 5%;
}

.input-fill {
  width: 75%;
  height: 7.5vw;
  border: none;
  font-size: 5.5vw;
  position: relative;
  float: left;
  margin-left: 5%;
  top: 1vw;
}

.password-box {
  display: flex;
  justify-content: space-between;
  box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
}

.name-box {
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign-up-button {
  text-align: center;
  border-radius: 50px;
  width: 60%;
  background-color: #00bcd4;
  color: white;
  border: none;
  font-size: 7vw;
  margin: 15vw 20% 0 20%;
}

.sign-up-button:disabled {
  opacity: 30%;
}

.initial-name, .last-name {
  margin-right: 16px;
  flex-grow: 1;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  padding: 24px 0 0;
  white-space: normal;
}

::placeholder {
  opacity: 50%;
}

input[type="date"]::-webkit-input-placeholder{
  opacity: 50%;
}
