<body [style.height.px]="screenHeight">

<div class="signup-box">
  <div class="header-text">
    <Strong>HealthCoin</Strong>
  </div>
  <div class="header-text">Create Your Account!
  </div>

  <div class="name-email-pass-input-box">
    <div>
      <input class="input-fill" type="text" placeholder="Nama Depan" id="first-name" required>
    </div>

    <div>
      <input class="input-fill" type="text" placeholder="Nama Belakang" id="last-name" required>
    </div>

    <div>
      <input class="input-fill" type="text" placeholder="Email" id="email" required>
    </div>
   
    <div>
      <input class="input-fill" type="text" placeholder="Nomor Telepon" id="phone" required>
    </div>

    <div>
      <input class="input-fill" type="password" placeholder="Kata Sandi" id="password" required>
    </div>

    <div>
      <input class="input-fill" type="password" placeholder="Konfirmasi Kata Sandi" id="confirm" required>
    </div>

    <div>
      <input class="input-fill" type="date" placeholder="dd/mm/yy" id="birthday" required>
    </div>

    <div>
      <input class="input-fill" type="text" placeholder="No KTP" id="id-number" required>
    </div>

    <div class="sign-up-box">
      <button type="submit" (click)="signup()" class="sign-up-button">Sign Up</button>
    </div>

  
  </div>

</div>


</body>
