<body class="adjust-screen">

<div class="profile-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="profile-text">
    <strong>Profil</strong>
  </div>
</div>

<div class="profile-content-1">
  <span class="profile-picture">
    <i class="fa fa-user-circle"></i>
  </span>

  <span class="profile-name">Laurens Hendrika Oktaviani Ronadame</span>
</div>

<div class="profile-content-2">
  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Email</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">evelyn82@ui.ac.id</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Nomor Telepon</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">085217750115</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Nomor KTP</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">Evelyn247</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Tanggal Lahir</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">24 April 2001</span>
  </div>
</div>

<div class="menu-box">
  <span class="menu-button-off" (click)="goToDashboard()">
    <i class="fa fa-home"></i>
  </span>

  <span class="menu-button-off">
    <i class="fa fa-calendar"></i>
  </span>

  <span class="menu-button-off" (click)="goToRecordList()">
    <i class="fa fa-history"></i>
  </span>

  <span class="menu-button-on">
    <i class="fa fa-user-circle"></i>
  </span>
</div>

</body>
