.profile-header {
  background: mediumturquoise;
  height: 15%;
  width: auto;
}

.healthcoin-text, .profile-text {
  height: 30%;
  width: auto;
  text-align: center;
  padding-top: 25px;
  font-size: 3vh;
}

.healthcoin-text {
  color: white;
}

.profile-content-1 {
  width: 100%;
  height: 15%;
  background: azure;
}

.profile-icon {

}

.profile-content-2 {
  border-width: 0 0 1px 0;
}

.profile-picture, .profile-name, .profile-gender {
  height: 100%;
  margin: auto;
  float: left;
}

.profile-picture, .profile-gender {
  width: 25%;
}

.profile-picture {
  font-size: 20vw;
}

.profile-name {
  width: 50%;
}


.menu {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  width: 25%;
  height: 100%;
  color: #32C8D7;
  text-align: center;
  font-size: 40px;
}

.menu-icon {
  vertical-align: middle;
}

.profile-content-text {
  width: 90px;
}
