<!--<body [style.height.px]="screenHeight" [style.width.px]="screenWidth">-->
<body style="height: 100vh; width: 100vw">

<div class="profile-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="profile-text">
    <strong>Profile</strong>
  </div>
</div>

<div class="profile-content-1">
  <span class="profile-picture">
    <i class="fa fa-user-circle"></i>
  </span>

  <span class="profile-name">{{name}}</span>

  <span class="profile-gender">
    <i class="fa fa-mars"></i>
  </span>
</div>

<div class="profile-content-2">
  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Email</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">{{email}}</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Nomor Telepon</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">{{phoneNumber}}</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Nomor KTP</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">{{nationalId}}</span>
  </div>

  <div class="profile-content-2-section">
    <span class="profile-content-2-ask">Tanggal Lahir</span>
    <span class="colon">:</span>
    <span class="profile-content-2-info">{{birthDate}}</span>
  </div>
</div>

<div class="menu">
  <span class="menu-button" (click)="router.goToHomePage()">
    <div class="menu-button-icon">
      <i class="fa fa-home"></i>
    </div>

    <div class="menu-button-text">Beranda</div>
  </span>

  <span class="menu-button"(click)="router.goToQrCodePage()">
    <div class="menu-button-icon">
      <i class="fa fa-qrcode"></i>
    </div>

    <div class="menu-button-text">Kode QR</div>
  </span>

  <span class="menu-button" (click)="router.goToRecordListPage()">
    <div class="menu-button-icon">
      <i class="fa fa-history"></i>
    </div>

    <div class="menu-button-text">Riwayat</div>
  </span>

  <span class="menu-button-active">
    <div class="menu-button-icon">
      <i class="fa fa-user-circle"></i>
    </div>

    <div class="menu-button-text">Profil</div>
  </span>
</div>
</body>
