<body class="adjust-screen" style="padding-top: 13%">

<div class="healthcoin-text">H E A L T H C O I N</div>
<div class="email-text">Masukkan Email Anda!</div>

<div class="recovery-box">
  <form class="user-pass-input-box">
    <div class="input-box">
      <span class="input-icon">
        <i class="fa fa-envelope"></i>
      </span>
      <input class="input-fill" type="text" placeholder="Email" id="email" required>
    </div>

    <div class="recovery-button-box">
      <button type="submit" class="recovery-button">Berikutnya</button>
    </div>

  </form>
</div>
</body>

