.recovery-box {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

.healthcoin-text {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 7vw;
}

.email-text {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 6vw;
  font-family: "Roboto Light", sans-serif;
  color: #59b7d3;
  font-weight: bold;
}

.user-pass-input-box {
  position: relative;
  margin-top: 10%;
  text-align: center;
  height: 104vw;
}

.input-box {
  width: 75%;
  height: 10vw;
  margin: 0 auto 3vw auto;
  border-radius: 50px;
  border: 1px solid;
}

.input-icon {
  width: 10%;
  float: left;
  font-size: 6.5vw;
  color: rgb(79, 208, 221);
  margin-left: 5%;
}

.input-fill {
  width: 75%;
  height: 7.5vw;
  border: none;
  font-size: 5vw;
  position: relative;
  float: left;
  margin-left: 5%;
  top: 1vw;
}

.recovery-button {
  text-align: center;
  border-radius: 50px;
  width: 60%;
  background-color: #00bcd4;
  color: white;
  border: none;
  font-size: 7vw;
  margin: 15vw 20% 0 20%;
}

.recovery-button-box {
  margin-top: 50px;
  height: 40px;
  width: 100%;
  text-align: center;
}

.sign-up-button:disabled {
  opacity: 30%;
}

::placeholder {
  opacity: 50%;
}
