<body class="adjust-screen">

<div class="login-box">
  <div class="header-text">H E A L T H C O I N</div>
  <div class="email-text">Masukkan Email Anda!</div>

  <div class="user-pass-input-box">
    <div class="input-box">
      <span class="icon-input">
        <i class="fa fa-envelope"></i>
      </span>
      <input class="input-fill" type="text" placeholder="Email" id="email" required>
    </div>
  </div>

  <div class="login-button-box">
    <button type="submit"  class="login-button">Berikutnya</button>
  </div>
</div>
</body>

