<body class="adjust-screen">

<div class="list-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="list-text">
    <strong>Daftar Rekam Medis</strong>
  </div>

  <div class="search-box">
    <span class="input-icon">
      <i class="fa fa-search"></i>
    </span>
    <label>
      <input class="search-fill" type="text" placeholder="Search">
    </label>
  </div>
</div>

<div class="menu-box">
  <span class="menu-button-off" (click)="goToDashboard()">
    <i class="menu-icon, fa fa-home"></i>
  </span>

  <span class="menu-button-off">
    <i class="menu-icon, fa fa-calendar"></i>
  </span>

  <span class="menu-button-on">
    <i class="menu-icon, fa fa-history"></i>
  </span>

  <span class="menu-button-off" (click)="goToProfile()">
    <i class="menu-icon, fa fa-user-circle"></i>
  </span>
</div>

</body>
