<body class="adjust-screen">


<div class="list-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="list-text">
    <strong>Daftar Rekam Medis</strong>
  </div>

  <div class="search-box">
    <span class="input-icon">
      <i class="fa fa-search"></i>
    </span>
    <label>
      <input class="search-fill" type="text" placeholder="Search">
    </label>
  </div>
</div>

<div class="main-background">
    <div *ngFor="let record of records" class="record-box">
      <span class="doctor-icon">
        <i class="fa fa-h-square"></i>
      </span>

      <span class="record-info">
        <div>
          <span class="record-info-icon">
            <i class="fa fa-heart"></i>
          </span>
          <span style="font-size: 5vw"> : </span>
          <span class="record-info-style" style="font-size: 4vw; font-family: Poppins, sans-serif"><strong>Diabetes Melitus</strong>
          </span>
        </div>

        <div>
          <span class="record-info-icon">
            <i class="fa fa-user-md"></i>
          </span>
          <span style="font-size: 5vw"> : </span>
          <span class="record-info-style" style="font-size: 4vw; font-family: 'Poppins Light', 'Poppins Regular', 'Poppins', sans-serif">
            dr.Laurens Hendrika
          </span>
        </div>

        <div>
          <span class="record-info-icon">
            <i class="fa fa-hospital-o"></i>
          </span>
          <span style="font-size: 5vw"> : </span>
          <span class="record-info-style" style="font-size: 4vw; font-family: 'Roboto Light', sans-serif">Siloam Hospital
          </span>
        </div>

        <div>
          <span class="record-info-icon">
            <i class="fa fa-calendar"></i>
          </span>
          <span style="font-size: 5vw"> : </span>
          <span class="record-info-style" style="font-size: 3vw; font-family: 'Poppins Light', sans-serif">3 Maret 2020 21.00
          </span>
        </div>
      </span>


    </div>

</div>

<div class="menu">
  <span class="menu-button">
    <i class="fa fa-home"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-calendar"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-history"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-user-circle"></i>
  </span>
</div>

</body>
