<body class="adjust-screen">


<div class="list-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="list-text">
    <strong>Daftar Rekam Medis</strong>
  </div>

  <div class="search-box">
    <span class="input-icon">
      <i class="fa fa-search"></i>
    </span>
    <label>
      <input class="search-fill" type="text" placeholder="Search">
    </label>
  </div>
</div>

<div class="main-label">
  <span class="label-text">

  </span>
</div>

<div class="menu">
  <span class="menu-button">
    <i class="fa fa-home"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-calendar"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-history"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-user-circle"></i>
  </span>
</div>

</body>
