.list-header {
  background: mediumturquoise;
  height: 25%;
  width: auto;
}

.healthcoin-text, .list-text {
  height: auto;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: arial, monospace;
}

.healthcoin-text {
  top: 20%;
  color: white;
  font-size: 7vw;
}

.list-text {
  position: relative;
  top: 20%;
  font-size: 5vw;
}

.search-box {
  position: relative;
  width: 75%;
  height: 10vw;
  border-radius: 50px;
  top: 25%;
  margin: 0 auto 0 auto;
  background-color: white;
}

.main-background {
  background-color: azure;
}

.input-icon {
  width: 10%;
  font-size: 6.5vw;
  position: relative;
  float: left;
  margin-left: 5%;
  color: rgb(79, 208, 221);
}

.search-fill {
  margin: 1vw 0 0 3%;
  height: 7.5vw;
  border: none;
  font-size: 5.5vw;
  float: left;
  width: 75%;
  position: relative;
}

.record-box {
  position: relative;
  left: 10vw;
  right: 10vw;
  top: 3vw;
  width: 80vw;
  height: 30vw;
  margin-bottom: 12px;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(50, 200, 215, 1);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137)
}

.label-text {
  border-width: 0px;
  position: fixed;
  left: 27px;
  top: 433px;
  width: 321px;
  height: 84px;
  display: flex;
}

.input-icon {
  width: 10%;
  float: left;
  font-size: 6.5vw;
  color: rgb(79, 208, 221);
  margin-left: 5%;
}

.doctor-icon {
  height: 100%;
  width: 20vw;
  color: black;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 20vw;
}

.record-info {
  height: 100%;
  width: 80%;
}

.record-info-style {
  height: 25%;
}

.record-info-icon {
  color: black;
  font-size: 5vw;
}
