.list-header {
  background: mediumturquoise;
  height: 25%;
  width: auto;
}

.healthcoin-text, .list-text {
  height: auto;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 7vw;
  font-family: arial, monospace;
}

.healthcoin-text {
  top: 20%;
  color: white;
}

.list-text {
  position: relative;
  top: 20%;
}

.search-box {
  position: relative;
  width: 75%;
  height: 10vw;
  border-radius: 50px;
  top: 25%;
  margin: 0 auto 0 auto;
  background-color: white;
}

.input-icon {
  width: 10%;
  font-size: 6.5vw;
  position: relative;
  float: left;
  margin-left: 5%;
  color: rgb(79, 208, 221);
}

.search-fill {
  margin: 1vw 0 0 3%;
  height: 7.5vw;
  border: none;
  font-size: 5.5vw;
  float: left;
  width: 75%;
  position: relative;
}


.menu {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
}

.menu-button {
  width: 25%;
  height: 100%;
  color: #32C8D7;
  text-align: center;
  font-size: 6vh;
}

.menu-icon {
  vertical-align: middle;
}

.main-label {
  border-width: 0px;
  position: relative;
  left: 10vw;
  top: 3vw;
  width: 80vw;
  height: 30vw;
  display: flex;
  background-color: aqua;
  border-radius: 20px;
}

.label-text {
  border-width: 0px;
  position: absolute;
  left: 42px;
  top: 164px;
  width: 145px;
  height: 44px;
  display: flex
}
