.login-box {
  width: 100%;
  height: 60%;
  min-height: 110vw;
  position: relative;
  font-family: Arial, monospace;
}

.healthcoin-text {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 7vw;
}

.welcome-text {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 6vw;
  font-family: "Roboto Light", sans-serif;
  color: #59b7d3;
  font-weight: bold;
}

.user-pass-input-box {
  position: relative;
  margin-top: 15%;
  text-align: center;
  height: 26vw;
}

.input-box {
  width: 75%;
  height: 10vw;
  margin: 0 auto 3vw auto;
  border-radius: 50px;
  border: 1px solid;
}

.input-icon, .pass-icon {
  width: 10%;
  font-size: 6.5vw;
  position: relative;
}

.input-icon {
  float: left;
  margin-left: 5%;
  color: rgb(79, 208, 221);
}

.pass-icon {
  float: right;
  margin-right: 5%;
  color: gray;
}

.email-fill, .pass-fill {
  height: 7.5vw;
  border: none;
  font-size: 5vw;
  position: relative;
  float: left;
  margin-left: 5%;
  top: 1vw;
}

.email-fill {
  width: 75%;
}

.pass-fill {
  width: 60%;
}

.user-recovery-hyperlink {
  position: relative;
  font-size: 4.5vw;
  margin: 2vw 0 0 12.5%;
  color: #188FFF
}
.error-message{
  position: absolute;
  color: red;
  width: 75%;
  left: 12.5%;
  top: 30%;
  text-align: left;
}

.login-button {
  text-align: center;
  border-radius: 50px;
  width: 60%;
  background-color: #00bcd4;
  color: white;
  border: none;
  font-size: 7vw;
  margin: 15vw 20% 0 20%;
}

.login-button:disabled {
  opacity: 30%;
}

.login-button:active {
  outline: none;
  border: none;
}

.sign-up {
  width: 100%;
  font-size: 4.5vw;
  color: #188FFF;
  position: absolute;
  text-align: center;
}

::placeholder {
  opacity: 50%;
}
