.list-header {
  height: 25%;
  width: auto;
}

.healthcoin-text, .list-text {
  height: auto;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: arial, monospace;
}

.healthcoin-text {
  top: 20%;
  font-size: 7vw;
}

.list-text {
  position: relative;
  top: 20%;
  font-size: 5vw;
}

.home-icon {
  color: #32C8D7;
  text-align: center;
  font-size: 15vw;
  position: relative;
  top: 20%;
}

.home-greet {
  position: relative;
  top: 20%;
  font-family: "Roboto Medium Italic", "Roboto Regular", Roboto, sans-serif;
  font-size: 5vw;
  border-width: 0;
  text-align: center;
}

.home-info {
  position: relative;
  top: 45%;
  border-width: 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
}

.total-record-box {
  width: 65%;
  height: 35%;
  text-align: left;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style: normal;
}

.total-record-number {
  font-size: 15vw;
}

.total-record-text {
  font-size: 5vw;
}

.date-box {
  width: 35%;
  height: 35%;
  text-align: left;
  font-size: 4vw;
}

.today-date {
  text-align: start;
}

.today-line {
  border-left: 1px solid #00bcd4;
  margin-left: 5%;
  font-size: 15vw;
}

.today-text {
  text-align: start;
}

.history-box {
  position: relative;
  left: 10vw;
  top: 35vw;
  width: 80vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 200, 215, 1);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137)
}

.history-text {
  font-size: 5vw;
  height: 30%;
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
  border-bottom: 1px solid black
}

.record-info-icon {
  position: fixed;
  color: black;
  font-size: 5vw;
  width: 5vw;
  margin-left: 55vw;
}

.record-info-style {
  height: 30%;
  font-size: 4vw;
  font-family: Poppins, sans-serif;
}

.doctor-icon {
  height: 30%;
  width: 10vw;
  color: mediumturquoise;
  margin-left: 5vw;
  margin-right: 6vw;
  font-size: 7vw;
}

.menu-button-active {
  background-color: #32C8D7 ;
  color: white;
}
