.registration-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    right: auto;
    left: auto;
    max-height: 400px;
    max-width: 600px;
    z-index: 1;
    font-family: Arial, monospace;
  }
  
  