<body class="adjust-screen">


<div class="list-header">
  <div class="healthcoin-text">H E A L T H C O I N</div>

  <div class="list-text">
    <strong>Dashboard</strong>
  </div>

  <div class="dashboard-icon">
    <i class="fa fa-user-circle"></i>
  </div>

  <div class="dashboard-greet">
    <div style="font-family:'Roboto Medium Italic', 'Roboto Regular', 'Roboto', sans-serif;font-weight:500;
    font-style:italic;">Hello!
    </div>

    <div style="font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;font-weight:300;
    font-style:normal;">Ms. Laurens Hendrika
    </div>

    <div class="dashboard-label">

    </div>

  </div>
</div>

<div class="menu" [style.top.px]="screenHeight-60">

  <span class="menu-button">
    <i class="fa fa-home"></i>
  </span>

  <span class="menu-button">
    <i class="fa fa-calendar"></i>
  </span>

  <span class="menu-button">
<i class="fa fa-history"></i>
  </span>

  <span class="menu-button">
<i class="fa fa-user-circle"></i>
  </span>


</div>

</body>




