.menu {
  position: fixed;
  width: 100%;
  height: 60px;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.button-group:after {
  content: "";
  clear: bottom;
  display: table;
}

/* Add a background color on hover */
.button-group button:hover {
  background-color: #3e8e41;
}
