.menu {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  width: 25%;
  height: 100%;
  color: #32C8D7;
  text-align: center;
  font-size: 40px;
}

.menu-icon {
  vertical-align: middle;
}
